#img6D1 {
    width:75px;
    height :100px;
}
#img6D2 {
    width:75px;
    height :100px;
}
#img6M1 {
    width:75px;
    height :100px;
}
#img6M2{
    width:75px;
    height :100px;
}

.g1 {
    display: flex;
}

.g2 {
    display: flex;
}

.g3 {
    display: flex;

}
.g4 {
    display: flex;
}

.g5 {
    display: flex;

}
.g6 {
    display: flex;
}