.gamer2_1 {
    width:75px;
}
.gamer2_2 {
    width:75px;
}
.set2 {
    text-align: center;
    padding-bottom:175px;
}
.g2p1{
    text-align: center;
    padding-bottom: 100px;
}
.g2p2 {
    text-align: center;
}
#img2D1 {
    width:75px;
    height :100px;
}
#img2D2 {
    width:75px;
    height :100px;
}
#img2M1 {
    width:75px;
    height :100px;
}
#img2M2{
    width:75px;
    height :100px;
}
.c2 {
    width:75px;
    height: 100px;
}