body {
    background-image:url(tt.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.table {
    display: flex;
    padding:250px;
}
.buyIn {
    margin:auto;
    width: 400px;
    height:50px;
}
