.gamer3_1{
    width:75px;
}
.gamer3_2 {
    width:75px;
}
.gamer3_3 {
    width:75px;
}
.c3 {
    width:75px;
    height :100px;
}
.set3 {
    text-align: center;
    padding-bottom:175px;
}
.g3p {
    padding-bottom:90px;
}
.g3p3 {
    text-align: center;

}
.g3p1 {
    text-align: left;
    float: left;
}
.g3p2 {
    text-align: right;
}
#imgM1 {
    width:75px;
    height :100px;
}
#imgM2 {
    width:75px;
    height :100px;
}
#imgD1 {
    width:75px;
    height :100px;
}
#imgD2 {
    width:75px;
    height :100px;
}
#imgD3 {
    width:75px;
    height :100px;
}
#imgD4 {
     width:75px;
     height :100px;
 }
