.p1 {
    width : 75px;
    height : 100px;
}
.p2 {
    width : 75px;
    height : 100px;
}
.p3 {
    width : 75px;
    height : 100px;
}
.p4 {
    width : 75px;
    height : 100px;
}
.p5 {
    width : 75px;
    height : 100px;
}
.p6 {
    width : 75px;
    height : 100px;
}