
.pad {
    padding-top:300px;
    text-align: center;
    padding-bottom: 450px;
}
.w2p1 {
    text-align: center;
}
.w2p2{
    text-align: center;
}
.gamerW2_1 {
    width:75px;
}
.gamerW2_2 {
    width:75px;
}